{ 
    "AWSAccessKeyId"    : "XXXXXXXXXXXXXXXXXXXXXXXXX",
    "AWSSecretKey"      : "xXxXxXxX",
    "AssociateTag"      : "xxx",
    "myFirebaseURL"     : "https://blazing-fire-xxx.firebaseio.com/bd",
    "myFirebaseSecret"  : "xxxxxxxxxxxxxxxxxxxxxxxxxxxx",
    "allowedGoogleIds"  : ["google:xxxxxxxxxxxxxxxxxxxxxxx","google:xxxxxxxxxxxxxxxxxxxxxxx"]
}
